<div class="container" style="margin-top: 10px">

    <div id="" class="form-inline" role="grid">
        <div class="row">
            <div class="span8">
            </div>
            <div class="span4">
                <div class="dataTables_filter" id="example_filter">
                    <label>Search: <input type="text" class="search-query"></label>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>NAME</th>               
                <th>CONTINENT</th>
                <th>REGION</th>               
                <th>AREA</th>
                <th>Indp Yr</th>   
                <th>POP</th>
                <th>LIFE EXP</th>
                <th>GNP</th>
                <th>GNP OLD</th>
                <th>LOCAL NAME</th>
                <th>GOVT</th>
                <th>HOS</th>
                <th>CAPITAL</th>
                <th>CODE</th>
            </tr>
        </thead>     
        <tbody>
            
        </tbody>
    </table>
    <div class="row">
        <div class="span4">
            nothing todo
        </div>
    </div>
</div>