{%block container %}
<div class="container">
    <h2>Hello {{name}}</h2>
</div> 
<a href="{{path('login_login_logout')}}" >Logout</a>
    {%endblock%}
    {% extends 'tesisControltesisBundle::Template.html.twig' %}

    